# OS
.DS_Store
Thumbs.db

# IDE and Editors
.idea
.vscode

.vagrant

# Env
.env

# Vendor
/vendor
/node_modules

# Site
/storage/app/device
/storage/app/smile
/storage/app/generated
/storage/app/upload
/public/storage/*
/storage/ipone7_imploded_images
!/public/storage/.htaccess
/public/orders
/public/rev-manifest.json
/public/js/ckeditor
/public/js/kcfinder
/public/fonts

# Other
composer.lock
_ide_helper.php
*.js.map
*.css.map
composer.phar
