// Constructor device
.constructor {
    .constructor-device {
        z-index: 100;
    }

    .constructor-casey {
        z-index: 200;
    }

    .constructor-bg {
        z-index: 300;
    }

    .constructor-smile {
        z-index: 1000;
    }
}
