html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
u, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, b, strong {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    color: inherit;
    vertical-align: baseline;
    text-decoration: none;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

*, *:after, *:before {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

b, strong{
    font-weight: bold;
}
i, em{
    font-style: italic;
}
u{
    text-decoration: underline;
}
s{
    text-decoration: line-through;
}
@font-face {
    font-family: 'AvenirNextCyr';
    src: url('../fonts/AvenirNextCyr-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/AvenirNextCyr-Regular.otf')  format('opentype'),
    url('../fonts/AvenirNextCyr-Regular.woff') format('woff'), url('../fonts/AvenirNextCyr-Regular.ttf')  format('truetype'), url('../fonts/AvenirNextCyr-Regular.svg#AvenirNextCyr-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'AvenirNextCyr';
    src: url('../fonts/AvenirNextCyr-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/AvenirNextCyr-Bold.otf')  format('opentype'),
    url('../fonts/AvenirNextCyr-Bold.woff') format('woff'), url('../fonts/AvenirNextCyr-Bold.ttf')  format('truetype'), url('../fonts/AvenirNextCyr-Bold.svg#AvenirNextCyr-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'AvenirNextCyr';
    src: url('../fonts/AvenirNextCyr-Light.eot?#iefix') format('embedded-opentype'),  url('../fonts/AvenirNextCyr-Light.otf')  format('opentype'),
    url('../fonts/AvenirNextCyr-Light.woff') format('woff'), url('../fonts/AvenirNextCyr-Light.ttf')  format('truetype'), url('../fonts/AvenirNextCyr-Light.svg#AvenirNextCyr-Light') format('svg');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'AvenirNextCyr';
    src: url('../fonts/AvenirNextCyr-Medium.eot?#iefix') format('embedded-opentype'),  url('../fonts/AvenirNextCyr-Medium.otf')  format('opentype'),
    url('../fonts/AvenirNextCyr-Medium.woff') format('woff'), url('../fonts/AvenirNextCyr-Medium.ttf')  format('truetype'), url('../fonts/AvenirNextCyr-Medium.svg#AvenirNextCyr-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

/**
 * Owl Carousel v2.2.1
 * Copyright 2013-2017 David Deutsch
 * Licensed under  ()
 */
.owl-carousel,.owl-carousel .owl-item{-webkit-tap-highlight-color:transparent;position:relative}.owl-carousel{display:none;width:100%;z-index:1}.owl-carousel .owl-stage{position:relative;-ms-touch-action:pan-Y;-moz-backface-visibility:hidden}.owl-carousel .owl-stage:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0}.owl-carousel .owl-stage-outer{position:relative;overflow:hidden;-webkit-transform:translate3d(0,0,0)}.owl-carousel .owl-item,.owl-carousel .owl-wrapper{-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;-ms-backface-visibility:hidden;-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0)}.owl-carousel .owl-item{min-height:1px;float:left;-webkit-backface-visibility:hidden;-webkit-touch-callout:none}.owl-carousel .owl-item img{display:block;width:100%}.owl-carousel .owl-dots.disabled,.owl-carousel .owl-nav.disabled{display:none}.no-js .owl-carousel,.owl-carousel.owl-loaded{display:block}.owl-carousel .owl-dot,.owl-carousel .owl-nav .owl-next,.owl-carousel .owl-nav .owl-prev{cursor:pointer;cursor:hand;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.owl-carousel.owl-loading{opacity:0;display:block}.owl-carousel.owl-hidden{opacity:0}.owl-carousel.owl-refresh .owl-item{visibility:hidden}.owl-carousel.owl-drag .owl-item{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.owl-carousel.owl-grab{cursor:move;cursor:-webkit-grab;cursor:grab}.owl-carousel.owl-rtl{direction:rtl}.owl-carousel.owl-rtl .owl-item{float:right}.owl-carousel .animated{-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-fill-mode:both;animation-fill-mode:both}.owl-carousel .owl-animated-in{z-index:0}.owl-carousel .owl-animated-out{z-index:1}.owl-carousel .fadeOut{-webkit-animation-name:fadeOut;animation-name:fadeOut}@-webkit-keyframes fadeOut{0%{opacity:1}100%{opacity:0}}@keyframes fadeOut{0%{opacity:1}100%{opacity:0}}.owl-height{-webkit-transition:height .5s ease-in-out;transition:height .5s ease-in-out}.owl-carousel .owl-item .owl-lazy{opacity:0;-webkit-transition:opacity .4s ease;transition:opacity .4s ease}.owl-carousel .owl-item img.owl-lazy{-webkit-transform-style:preserve-3d;transform-style:preserve-3d}.owl-carousel .owl-video-wrapper{position:relative;height:100%;background:#000}.owl-carousel .owl-video-play-icon{position:absolute;height:80px;width:80px;left:50%;top:50%;margin-left:-40px;margin-top:-40px;background:url(owl.video.play.png) no-repeat;cursor:pointer;z-index:1;-webkit-backface-visibility:hidden;-webkit-transition:-webkit-transform .1s ease;transition:-webkit-transform .1s ease;transition:transform .1s ease;transition:transform .1s ease, -webkit-transform .1s ease}.owl-carousel .owl-video-play-icon:hover{-webkit-transform:scale(1.3,1.3);transform:scale(1.3,1.3)}.owl-carousel .owl-video-playing .owl-video-play-icon,.owl-carousel .owl-video-playing .owl-video-tn{display:none}.owl-carousel .owl-video-tn{opacity:0;height:100%;background-position:center center;background-repeat:no-repeat;background-size:contain;-webkit-transition:opacity .4s ease;transition:opacity .4s ease}.owl-carousel .owl-video-frame{position:relative;z-index:1;height:100%;width:100%}
/*
LESS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: @icon-home-width;
}

The large array-like variables contain all information about a single icon
@icon-home: x y offset_x offset_y width height total_width total_height image_path name;

At the bottom of this section, we provide information about the spritesheet itself
@spritesheet: width height image @spritesheet-sprites;
*/
/*
The provided classes are intended to be used with the array-like variables

.icon-home {
  .sprite-width(@icon-home);
}
.icon-email {
  .sprite(@icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
/*
The `.sprites` mixin generates identical output to the CSS template
  but can be overridden inside of LESS

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

.sprites(@spritesheet-sprites);
*/
.svg-icon {
    font-size: 10px;
}

.svg-icon:before {
    content:' ';
    vertical-align:middle;
    display: inline-block;
    background-image: url("../svg/sprite.svg");
    background-repeat: no-repeat;
    background-size: 11.6em 164.3em;
}

.no-svg .svg-icon:before {
    background-image: url("../svg/sprite.png");
}



  .svg-icon.icon-back:before {
      background-position: -1em -1em;
      width: 1.2655999999999998em;
      height: 1.1311999999999998em;
  }




  .svg-icon.icon-back@2x:before {
      background-position: -1em -4.2em;
      width: 2.5311999999999997em;
      height: 2.2623999999999995em;
  }




  .svg-icon.icon-close:before {
      background-position: -1em -8.5em;
      width: 0.9875999999999998em;
      height: 0.9875999999999998em;
  }




  .svg-icon.icon-close@2x:before {
      background-position: -1em -11.5em;
      width: 1.9751999999999996em;
      height: 1.9751999999999996em;
  }




  .svg-icon.icon-feedback:before {
      background-position: -1em -15.5em;
      width: 1.6em;
      height: 1.4em;
  }




  .svg-icon.icon-feedback@2x:before {
      background-position: -1em -18.9em;
      width: 3.2em;
      height: 2.8em;
  }




  .svg-icon.icon-gif:before {
      background-position: -1em -23.7em;
      width: 3em;
      height: 3em;
  }




  .svg-icon.icon-gif@2x:before {
      background-position: -1em -28.7em;
      width: 6em;
      height: 6em;
  }




  .svg-icon.icon-grid:before {
      background-position: -1em -36.7em;
      width: 1.6em;
      height: 1.6em;
  }




  .svg-icon.icon-grid@2x:before {
      background-position: -1em -40.3em;
      width: 3.2em;
      height: 3.2em;
  }




  .svg-icon.icon-heart:before {
      background-position: -1em -45.5em;
      width: 1.8em;
      height: 1.6em;
  }




  .svg-icon.icon-heart@2x:before {
      background-position: -1em -49.1em;
      width: 3.6em;
      height: 3.2em;
  }




  .svg-icon.icon-list:before {
      background-position: -1em -54.3em;
      width: 1.7em;
      height: 1.2em;
  }




  .svg-icon.icon-list@2x:before {
      background-position: -1em -57.5em;
      width: 3.4em;
      height: 2.4em;
  }




  .svg-icon.icon-nav-left:before {
      background-position: -1em -61.9em;
      width: 3em;
      height: 3em;
  }




  .svg-icon.icon-nav-left@2x:before {
      background-position: -1em -66.9em;
      width: 6em;
      height: 6em;
  }




  .svg-icon.icon-nav-right:before {
      background-position: -1em -74.9em;
      width: 3em;
      height: 3em;
  }




  .svg-icon.icon-nav-right@2x:before {
      background-position: -1em -79.9em;
      width: 6em;
      height: 6em;
  }




  .svg-icon.icon-play-small:before {
      background-position: -1em -87.9em;
      width: 3em;
      height: 3em;
  }




  .svg-icon.icon-search:before {
      background-position: -1em -92.9em;
      width: 1.9719000000000002em;
      height: 1.9719000000000002em;
  }




  .svg-icon.icon-search@2x:before {
      background-position: -1em -96.9em;
      width: 3.5438em;
      height: 3.5438em;
  }




  .svg-icon.icon-slides:before {
      background-position: -1em -102.5em;
      width: 3em;
      height: 3em;
  }




  .svg-icon.icon-slides@2x:before {
      background-position: -1em -107.5em;
      width: 6em;
      height: 6em;
  }




  .svg-icon.icon-telegram:before {
      background-position: -1em -115.5em;
      width: 4.8em;
      height: 4.8em;
  }




  .svg-icon.icon-telegram@2x:before {
      background-position: -1em -122.3em;
      width: 9.6em;
      height: 9.6em;
  }




  .svg-icon.icon-video:before {
      background-position: -1em -133.9em;
      width: 3em;
      height: 3em;
  }




  .svg-icon.icon-video@2x:before {
      background-position: -1em -138.9em;
      width: 6em;
      height: 6em;
  }




  .svg-icon.icon-whatsapp:before {
      background-position: -1em -146.9em;
      width: 4.8em;
      height: 4.8em;
  }




  .svg-icon.icon-whatsapp@2x:before {
      background-position: -1em -153.7em;
      width: 9.6em;
      height: 9.6em;
  }






body {
  font-family: 'AvenirNextCyr';
  font-size: 0;
  color: #000;
  background-color: #fafafa;
}
#root {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
}
#content {
  padding-top: 140px;
}
@media only screen and (max-width: 802px) {
  #content {
    padding-top: 70px;
  }
}
.footer {
  background-color: #fff;
  padding: 20px 0 30px;
}
.header {
  border-bottom: 1px solid #ededed;
  margin-bottom: 66px;
  background-color: #fff;
  position: fixed;
  left: 50%;
  top: 0;
  width: 100%;
  z-index: 11;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: top .4s;
  transition: top .4s;
}
@media only screen and (max-width: 1305px) {
  .header {
    padding: 0 16px;
    margin-bottom: 40px;
  }
}
.header-main {
  max-width: 1306px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (max-width: 1305px) {
  .header-main {
    height: 55px;
  }
}
@media only screen and (max-width: 1305px) {
  .main-nav {
    position: absolute;
    left: -1000px;
    top: 100%;
    padding: 30px 20px;
    background-color: #fff;
    z-index: 5;
    -webkit-transition: left 0.4s ease-out;
    transition: left 0.4s ease-out;
  }
}
.main-nav__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 30px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 1.5px;
  position: relative;
  -webkit-transition: color .4s;
  transition: color .4s;
}
.main-nav__item:last-child {
  margin-right: 0;
}
.main-nav__item:hover {
  color: #bf8a7e;
}
.main-nav__item:hover .drop-nav,
.main-nav__item:focus .drop-nav {
  left: -30px;
  opacity: 1;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}
@media only screen and (max-width: 1305px) {
  .main-nav__item:hover .drop-nav,
  .main-nav__item:focus .drop-nav {
    left: auto;
    -webkit-transition: max-height 0.4s;
    transition: max-height 0.4s;
  }
}
@media only screen and (max-width: 1305px) {
  .main-nav__item {
    display: block;
    margin: 10px;
  }
}
.nav-is-visible .main-nav {
  left: 0;
}
.drop-nav {
  position: absolute;
  top: 100%;
  left: -23330px;
  z-index: 1000;
  background-color: #fff;
  padding: 40px 30px 10px;
  white-space: nowrap;
  opacity: 0;
  -webkit-transition: left 0s .3s ease, opacity .3s;
  transition: left 0s .3s ease, opacity .3s;
}
@media only screen and (max-width: 1305px) {
  .drop-nav {
    -webkit-transition: max-height 0.5s;
    transition: max-height 0.5s;
    opacity: 1;
    position: relative;
    left: auto;
    padding-top: 10px;
  }
}
.drop-nav__link {
  display: block;
  font-size: 14px;
  padding: 0 5px;
  font-weight: 400;
  color: #1a1a1a;
  -webkit-transition: color 0.3s, background-color 0.3s;
  transition: color 0.3s, background-color 0.3s;
  margin-bottom: 10px;
  text-transform: none;
}
@media only screen and (max-width: 802px) {
  .drop-nav__link {
    white-space: normal;
  }
}
.drop-nav__link:last-child {
  margin-bottom: 0;
}
.drop-nav__link:hover {
  color: #bf8a7e;
}
.basket {
  margin-left: 40px;
}
@media only screen and (max-width: 802px) {
  .basket {
    margin-left: 0;
  }
}
.logo {
  width: 93px;
}
@media only screen and (max-width: 802px) {
  .logo {
    width: 72px;
  }
}
.logo img {
  max-width: 100%;
}
.basket__logo {
  display: inline-block;
  vertical-align: middle;
  width: 22px;
  height: 23px;
  margin: 0 7px 0 0;
  -webkit-transition: fill .3s;
  transition: fill .3s;
  fill: #000;
}
.basket__items-count {
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  height: 30px;
  line-height: 30px;
  background-color: #bf8a7e;
  border-radius: 50%;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}
@media only screen and (max-width: 1305px) {
  .basket__items-count {
    width: 24px;
    height: 24px;
    line-height: 24px;
  }
}
.container {
  max-width: 1306px;
  margin: 0 auto;
}
.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media only screen and (max-width: 1305px) {
  .footer-container {
    padding: 0 20px;
  }
}
@media only screen and (max-width: 802px) {
  .footer-container {
    text-align: center;
    display: block;
  }
}
.small-container {
  margin-right: auto;
  margin-left: auto;
  max-width: 786px;
}
.section-title {
  text-align: center;
  font-weight: 500;
  font-size: 28px;
  line-height: 32px;
  margin-bottom: 14px;
  position: relative;
}
.section-title:after {
  content: '';
  position: relative;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 50px;
  height: 1px;
  background-color: #bf8a7e;
  display: block;
  margin: 20px 0;
}
@media only screen and (max-width: 802px) {
  .section-title {
    font-size: 22px;
    line-height: 24px;
  }
}
.section-subtitle {
  font-size: 19px;
  line-height: 25px;
  text-align: center;
  margin-bottom: 40px;
  color: #666;
}
@media only screen and (max-width: 802px) {
  .section-subtitle {
    font-size: 14px;
    line-height: 19px;
    padding: 0 20px;
  }
  .section-subtitle br {
    display: none !important;
  }
}
.grid-search {
  width: 20px;
}
.grid-styles {
  position: relative;
}
.grid-style {
  margin-right: 30px;
  opacity: .5;
  display: inline-block;
  vertical-align: middle;
}
.grid-style.active {
  opacity: 1;
}
.grid-style:last-child {
  margin-right: 0;
}
@media only screen and (max-width: 802px) {
  .grid-style {
    margin-right: 0;
    opacity: 1;
  }
  .grid-style.active {
    display: none;
  }
}
.icon,
.svg-icon {
  display: inline-block;
  vertical-align: middle;
}
.icon:before,
.svg-icon:before {
  content: '';
  display: inline-block;
}
.icon.icon-back:before {
  background-image: url(../img/sprite.png);
  background-position: -118px -54px;
  width: 13px;
  height: 12px;
}
.icon.icon-nav-left:before {
  background-image: url(../img/sprite.png);
  background-position: -69px -43px;
  width: 7px;
  height: 14px;
}
.icon.icon-nav-right:before {
  background-image: url(../img/sprite.png);
  background-position: -118px -76px;
  width: 7px;
  height: 14px;
}
.icon.icon-grid:before {
  background-image: url(../img/sprite.png);
  background-position: -88px -34px;
  width: 20px;
  height: 20px;
}
.icon.icon-whatsapp:before {
  background-image: url(../img/sprite.png);
  background-position: 0px 0px;
  width: 34px;
  height: 33px;
}
.icon.icon-close:before {
  background-image: url(../img/sprite.png);
  background-position: -118px -30px;
  width: 14px;
  height: 14px;
}
.icon.icon-telegram:before {
  background-image: url(../img/sprite.png);
  background-position: -44px 0px;
  width: 34px;
  height: 28px;
}
.icon.icon-play:before {
  position: relative;
  left: 4px;
  top: 2px;
  background-image: url(../img/sprite.png);
  background-position: -88px 0px;
  width: 20px;
  height: 24px;
}
.icon.icon-play-small:before {
  position: relative;
  left: 4px;
  top: 2px;
  background-image: url(../img/sprite.png);
  background-position: -118px 0px;
  width: 16px;
  height: 20px;
}
.icon.icon-feedback:before {
  background-image: url(../img/sprite.png);
  background-position: -31px -75px;
  width: 22px;
  height: 19px;
}
.icon.icon-heart:before {
  background-image: url(../img/sprite.png);
  background-position: 0px -43px;
  width: 25px;
  height: 22px;
}
.icon.icon-heart-liked:before {
  background-image: url(../img/sprite.png);
  background-position: -35px -43px;
  width: 24px;
  height: 22px;
}
.icon.icon-list:before {
  background-image: url(../img/sprite.png);
  background-position: 0px -106px;
  width: 22px;
  height: 12px;
}
.icon.icon-search:before {
  background-image: url(../img/sprite.png);
  background-position: -63px -75px;
  width: 19px;
  height: 19px;
}
.icon.icon-slides:before {
  background-image: url(../img/sprite.png);
  background-position: 0px -75px;
  width: 21px;
  height: 21px;
}
.grid-filter {
  font-size: 16px;
  border: 1px solid #ededed;
  height: 34px;
  width: 154px;
  text-align: center;
  line-height: 32px;
  display: inline-block;
  background-color: #fff;
  color: #666666;
  font-weight: 200;
}
.grid-filter.active {
  color: #262626;
  border-color: #000000;
}
@media only screen and (max-width: 802px) {
  .grid-filter {
    width: 100px;
    font-size: 12px;
    height: 26px;
    line-height: 24px;
  }
}
.grid-header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}
@media only screen and (max-width: 1305px) {
  .grid-header {
    padding: 0 27px;
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 802px) {
  .grid-header {
    padding: 0 15px;
  }
}
.grid {
  max-width: 786px;
  margin: 0 auto;
}
.grid-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -10.5px;
}
@media only screen and (max-width: 802px) {
  .grid-body {
    margin-right: -1px;
  }
}
.example-item {
  display: inline-block;
  position: relative;
  margin-bottom: 11px;
  width: 255px;
  max-height: 255px;
  height: 255px;
  overflow: hidden;
  margin-right: 10.5px;
}
.example-item:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 4;
  cursor: pointer;
}
.example-item:hover {
  outline: 1px solid #bf8a7e;
}
@media only screen and (max-width: 802px) {
  .example-item {
    width: 50%;
    border-right: 1px solid #ffffff;
    margin-bottom: 1px;
    height: auto;
    margin-right: 0;
  }
}
@media only screen and (max-width: 540px) {
  .example-item {
    max-height: 159px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.example-item__image {
  max-width: 100%;
  width: 100%;
  cursor: pointer;
}
.example-item__badge {
  position: absolute;
  left: 8px;
  top: 8px;
  z-index: 2;
  /*width: 46px;
  height: 46px;
  border-radius: 100%;
  text-align: center;
  line-height: 46px;
  color: #262626;
  font-size: 16px;
  font-weight: 500;
  background-color: rgba(255, 255, 255, .7);*/
}
.example-item__badge .icon {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
@media only screen and (max-width: 802px) {
  .example-item__badge .icon {
    -webkit-transform: scale(0.7) translateY(-50%);
            transform: scale(0.7) translateY(-50%);
  }
}
.example-item__badge .icon-wrapper {
  z-index: 1;
  position: relative;
}
@media only screen and (max-width: 802px) {
  .example-item__badge {
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 10px;
  }
}
.grid-list {
  max-width: 640px;
}
.grid-list .example-item {
  width: 100%;
  max-height: 640px;
  height: auto;
}
.grid-banner {
  width: 100%;
  margin-bottom: 11px;
  text-align: center;
  padding-right: 11.5px;
}
@media only screen and (max-width: 802px) {
  .grid-banner {
    margin: 10px;
  }
}
.grid-banner__image {
  max-width: 100%;
}
.burger-wrapper {
  width: 53px;
}
@media only screen and (min-width: 1306px) {
  .burger-wrapper {
    display: none;
  }
}
.header__burger {
  position: relative;
  width: 19px;
  height: 16px;
  display: block;
  z-index: 100000;
}
.header__burger:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  opacity: 0;
  background-color: #bf8a7e;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
  will-change: tranform;
}
.header__burger span {
  width: 19px;
  height: 2px;
  background-color: #000;
  position: absolute;
  left: 0;
  -webkit-transition: opacity .22s, width .3s, left .3s, -webkit-transform .3s;
  transition: opacity .22s, width .3s, left .3s, -webkit-transform .3s;
  transition: opacity .22s, transform .3s, width .3s, left .3s;
  transition: opacity .22s, transform .3s, width .3s, left .3s, -webkit-transform .3s;
}
.header__burger span:nth-child(1) {
  top: 0;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
}
.header__burger span:nth-child(2) {
  top: 50%;
  margin: -1px 0 0;
}
.header__burger span:nth-child(3) {
  bottom: 0;
  -webkit-transform-origin: 0 100%;
          transform-origin: 0 100%;
}
.header__burger:hover:before {
  opacity: 0.1;
}
.header__burger.active span {
  width: 21px;
}
.header__burger.active span:nth-child(1) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.header__burger.active span:nth-child(2) {
  opacity: 0;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}
.header__burger.active span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.nav-is-visible .header__burger span {
  width: 21px;
  left: 2px;
}
.nav-is-visible .header__burger span:nth-child(1) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.nav-is-visible .header__burger span:nth-child(2) {
  opacity: 0;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}
.nav-is-visible .header__burger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.design-card {
  position: fixed;
  z-index: 10;
  top: 0;
  padding-top: 100px;
  width: 100%;
  bottom: 0;
  background-color: #fff;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  left: -10000px;
  opacity: 0;
  -webkit-transition: opacity .4s, left 0s linear .4s;
  transition: opacity .4s, left 0s linear .4s;
}
@media only screen and (max-width: 1305px) {
  .design-card {
    padding-top: 46px;
  }
}
body.design-card-is-visible {
  overflow: hidden;
}
.design-card-is-visible {
  left: 0;
  -webkit-transform: none;
          transform: none;
}
.design-card-is-visible .design-card {
  -webkit-transition: opacity .4s, left 0s linear 0s;
  transition: opacity .4s, left 0s linear 0s;
  opacity: 1;
  left: 0;
  overflow-y: scroll;
}
.design-card-header {
  height: 88px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media only screen and (max-width: 802px) {
  .design-card-header {
    padding: 0 15px;
  }
}
.go-back-link {
  color: #000;
  font-size: 16px;
  line-height: 24px;
}
.go-back-link span {
  font-size: 24px;
  position: relative;
  margin-right: 6px;
  -webkit-transition: left .4s;
  transition: left .4s;
  left: 0;
}
.go-back-link:hover span {
  left: -5px;
}
.design-card-content {
  max-width: 640px;
  margin: 0 auto;
}
.like-btn {
  display: inline-block;
  text-align: center;
}
.like-count {
  font-size: 19px;
  line-height: 24px;
  display: inline-block;
  margin-left: 10px;
  vertical-align: middle;
  font-weight: 200;
}
@media only screen and (max-width: 802px) {
  .like-count {
    font-size: 14px;
    line-height: 19px;
  }
}
.design-card-control-row {
  margin-bottom: 30px;
  text-align: center;
}
@media only screen and (max-width: 802px) {
  .design-card-control-row {
    margin-bottom: 20px;
  }
}
.design-card-body {
  position: relative;
}
.filled-btn {
  height: 53px;
  width: 260px;
  display: inline-block;
  background-color: #bf8a7e;
  color: #fff;
  font-size: 19px;
  font-weight: 200;
  line-height: 53px;
  -webkit-transition: background-color 0.4s;
  transition: background-color 0.4s;
}
.filled-btn:hover {
  background-color: #a6786d;
}
@media only screen and (max-width: 802px) {
  .filled-btn {
    font-size: 14px;
    width: 198px;
    height: 42px;
    line-height: 42px;
  }
}
.design-card__contact-link {
  font-size: 19px;
  line-height: 24px;
}
@media only screen and (max-width: 802px) {
  .design-card__contact-link {
    font-size: 14px;
    line-height: 19px;
  }
}
.design-card-hashtags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f3f3f3;
  margin-bottom: 10px;
  padding: 20px 80px;
}
@media only screen and (max-width: 802px) {
  .design-card-hashtags {
    padding: 5px;
  }
}
.design-card__hashtag {
  display: inline-block;
  margin-right: 10px;
  font-size: 19px;
  line-height: 40px;
  color: #003569;
}
@media only screen and (max-width: 802px) {
  .design-card__hashtag {
    font-size: 14px;
  }
}
.design-card-related {
  max-width: 768px;
  margin: 0 auto;
}
.design-card-related__header {
  text-align: center;
  margin: 35px 0;
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
}
@media only screen and (max-width: 802px) {
  .design-card-related__header {
    margin: 20px 0;
    font-size: 18px;
    line-height: 24px;
  }
}
.design-card-related-grid {
  text-align: center;
}
.design-card-related-grid .example-item {
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  margin-bottom: 0;
  margin-right: 0;
}
.design-slide {
  text-align: center;
  height: 640px;
}
@media only screen and (max-width: 802px) {
  .design-slide {
    height: 320px;
  }
}
.design-card-main .owl-item img {
  max-width: 100%;
  max-height: 100%;
  display: inline-block;
  width: auto;
}
.design-card-main .owl-item video {
  max-width: 100%;
  max-height: 100%;
}
.play-btn {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 75px;
  height: 75px;
  border-radius: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
  z-index: 2;
}
.design-card-main {
  margin-bottom: 20px;
}
.design-card-main .owl-dots {
  text-align: center;
  margin-top: 10px;
}
.design-card-main .owl-dot {
  width: 5px;
  height: 5px;
  border-radius: 100%;
  background-color: #fff;
  opacity: .5;
  margin-right: 5px;
  display: inline-block;
  border: 1px solid #bf8a7e;
}
.design-card-main .owl-dot:last-child {
  margin-right: 0;
}
.design-card-main .owl-dot.active {
  opacity: 1;
  background-color: #bf8a7e;
}
.design-card-main .owl-next,
.design-card-main .owl-prev {
  position: absolute;
  top: 50%;
  z-index: 1;
  /*transform: translateY(-50%);
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, .7);
    text-align: center;
    border-radius: 100%;*/
}
.design-card-main .owl-next .icon,
.design-card-main .owl-prev .icon {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  position: relative;
}
.design-card-main .owl-next.disabled,
.design-card-main .owl-prev.disabled {
  visibility: hidden;
}
.design-card-main .owl-next {
  right: 10px;
}
.design-card-main .owl-prev {
  left: 10px;
}
.feedback-popup {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 12;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  left: -2000px;
  -webkit-transition: opacity .4s, left .0s linear .4s;
  transition: opacity .4s, left .0s linear .4s;
}
.feedback-popup.active {
  left: 0;
  opacity: 1;
  -webkit-transition: opacity .4s, left .0s linear .0s;
  transition: opacity .4s, left .0s linear .0s;
}
@media only screen and (max-width: 802px) {
  .feedback-popup {
    padding: 0 30px;
  }
}
.feedback-popup__inner {
  text-align: center;
  position: relative;
  background-color: #fff;
  padding: 30px 30px 80px;
  max-width: 340px;
  margin: 0 auto;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
@media only screen and (max-width: 802px) {
  .feedback-popup__inner {
    padding-bottom: 50px;
  }
}
.feedback-popup__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 24px;
}
@media only screen and (max-width: 802px) {
  .feedback-popup__title {
    font-size: 18px;
    line-height: 22px;
  }
}
.feedback-type__name {
  font-size: 14px;
  line-height: 24px;
  color: #666666;
}
.feedback-types {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.feedback-type {
  display: inline-block;
  vertical-align: top;
  margin-right: 40px;
}
.feedback-type:last-child {
  margin-right: 0;
}
.feedback-type-icon {
  margin-bottom: 14px;
}
.feedback-popup-close {
  display: block;
  position: absolute;
  top: 20px;
  right: 20px;
}
.search-field-is-visible .search-field {
  max-width: 100%;
}
.search-field-is-visible .close-search {
  z-index: 1;
  opacity: 1;
}
.search-field-is-visible .open-search {
  z-index: -10000;
  opacity: 0;
}
.search-field {
  margin: 0 auto;
  width: 100%;
  overflow: hidden;
  -webkit-transition: max-width 0.4s;
  transition: max-width 0.4s;
  max-width: 0;
  position: absolute;
  right: 0;
  top: 0;
  background-color: #fff;
}
.open-search,
.close-search {
  z-index: 2;
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.search-results {
  z-index: 6;
  position: relative;
  background-color: #fff;
  max-height: 300px;
  overflow: auto;
}
.search-result {
  display: block;
  background-color: #fff;
  border-bottom: 1px solid #c2897f;
  color: #003569;
}
.search-field__input {
  height: 34px;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 16px;
  width: 100%;
  color: #a1a1a1;
  line-height: 16px;
  padding-left: 10px;
}
#search-by-tag-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.search-field-btn {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}
.search-result {
  font-size: 19px;
  position: relative;
  height: 50px;
  line-height: 50px;
  cursor: pointer;
}
.search-result:hover {
  color: #c2897f;
}
.search-result__count {
  color: #000;
  opacity: .5;
  font-size: 16px;
  position: absolute;
  right: 0;
  top: 0;
}
.design-description {
  text-align: left;
  font-size: 14px;
  line-height: 25px;
  margin-bottom: 40px;
}
@media only screen and (max-width: 802px) {
  .design-description {
    padding: 0 10px;
    line-height: 20px;
  }
}
.footer-nav__item {
  margin-bottom: 10px;
}
.footer-nav__link {
  font-size: 14px;
  line-height: 21px;
  color: #1a1a1a;
  -webkit-transition: color .3s;
  transition: color .3s;
}
.footer-nav__link:hover {
  color: #be8a7e;
}
.footer-phone__title {
  color: rgba(26, 26, 26, 0.6);
  font-size: 14px;
  line-height: 21px;
}
.footer-phone__link {
  font-size: 26px;
  font-weight: 600;
  color: #1a1a1a;
  -webkit-transition: color .3s;
  transition: color .3s;
}
.footer-phone__link:hover {
  color: #be8a7e;
}
.footer__social-link {
  -webkit-transition: color .3s;
  transition: color .3s;
}
.footer__social-link .svg-icon {
  width: 23px;
  height: 23px;
  fill: #000;
  -webkit-transition: fill .3s;
  transition: fill .3s;
}
.footer__social-link:hover {
  color: #be8a7e;
}
.footer__social-link:hover .svg-icon {
  fill: #be8a7e;
}
.social__icon {
  display: inline-block;
  vertical-align: middle;
}
.social__title {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  font-size: 16px;
  line-height: 24px;
}
.footer-phone {
  margin-bottom: 30px;
}
@media only screen and (max-width: 802px) {
  .footer-phone {
    margin-top: 30px;
  }
}
.site-error {
  font-size: 14px;
}
.grid-search-links {
  position: relative;
  width: 20px;
  height: 20px;
}
.close-search {
  opacity: 0;
  z-index: -1000;
  padding: 10px;
}
.design-name {
  text-align: left;
  font-size: 14px;
  line-height: 25px;
  margin-bottom: 40px;
  margin-bottom: 10px;
}
@media only screen and (max-width: 802px) {
  .design-name {
    padding: 0 10px;
    line-height: 20px;
  }
}
.grid__selected-hashtag {
  width: 100%;
  overflow: hidden;
  /*opacity: 0;*/
  position: relative;
  text-align: center;
  font-size: 18px;
  line-height: 19px;
  color: #000;
  padding: 10px 0;
}
@media only screen and (max-width: 802px) {
  .grid__selected-hashtag {
    font-size: 14px;
    line-height: 15px;
  }
}
.hashtag-is-visible .grid__selected-hashtag {
  opacity: 1;
  visibility: visible;
}
.hashtag-is-visible .grid-styles,
.hashtag-is-visible .grid-search {
  visibility: hidden;
  opacity: 0;
}
.clear-hashtag {
  display: inline-block;
  position: absolute;
  left: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.icon-wrapper {
  display: inline-block;
  vertical-align: middle;
  overflow: visible;
}
.icon-wrapper object {
  position: relative;
  z-index: -1;
  overflow: visible;
}
/** ios video fix **/
*::-webkit-media-controls-panel {
  display: none!important;
  -webkit-appearance: none;
}
*::-webkit-media-controls-play-button {
  display: none!important;
  -webkit-appearance: none;
}
*::-webkit-media-controls-start-playback-button {
  display: none!important;
  -webkit-appearance: none;
}
/** ios video end **/
object {
  pointer-events: none;
}
.top-line {
  background-color: #000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 11;
}
@media only screen and (max-width: 802px) {
  .top-line {
    z-index: 12;
  }
}
.top-line__inner {
  max-width: 1306px;
  margin: 0 auto;
  height: 35px;
  position: relative;
}
@media only screen and (max-width: 802px) {
  .top-line__inner {
    height: 70px;
  }
}
.top-line__text {
  padding: 7px 40px;
  font-size: 14px;
  color: #d6d6d6;
  text-align: center;
}
@media only screen and (max-width: 802px) {
  .top-line__text {
    height: 70px;
    padding: 4px 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    line-height: 1.5;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.top-line__close {
  position: absolute;
  top: 50%;
  right: 19px;
  height: 11px;
  width: 11px;
  margin: -5px 0 0;
  -webkit-transition: opacity .3s ease;
  transition: opacity .3s ease;
  cursor: pointer;
}
.top-line__close:hover {
  opacity: .7;
}
.top-line__close:before,
.top-line__close:after {
  content: '';
  position: absolute;
  background-color: #fff;
  width: 100%;
  height: 1px;
  top: 5px;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.top-line__close:before {
  left: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.top-line__close:after {
  right: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
body.top-line-is-visible .header {
  top: 35px;
}
@media only screen and (max-width: 802px) {
  body.top-line-is-visible .header {
    top: 70px;
  }
}
body.top-line-is-visible .design-card {
  padding-top: 130px;
}
@media only screen and (max-width: 1305px) {
  body.top-line-is-visible .design-card {
    padding-top: 86px;
  }
}
@media only screen and (max-width: 802px) {
  body.top-line-is-visible .design-card {
    padding-top: 106px;
  }
}
body.top-line-is-visible #content {
  -webkit-transition: padding-top 0.4s;
  transition: padding-top 0.4s;
}
@media only screen and (max-width: 802px) {
  body.top-line-is-visible #content {
    padding-top: 150px;
  }
}
.hashtag-description {
  display: none;
  font-size: 14px;
  line-height: 16px;
  padding: 20px 0;
  margin-bottom: 30px;
}
